# Arquivo de exemplo das variáveis de ambiente
# Copie este arquivo e ajuste os valores conforme necessário

# Configurações
PORT=8080
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/db-name
TELEGRAM_API_URL=URL
TELEGRAM_API_TOKEN=TOKEN
